<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>

    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

    
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th {
            padding: 5px;
            text-align:center;
            background-color: #102343;
            color: white;
            border: 1px solid black;
         }
        
        td {
            
            border-bottom: 1px solid black;
            border: 1px solid black;
            text-align: center;
           
        }
        h3{
            text-align: center;
        }
        tr{
            margin-bottom: 20px;
            background-color:white;
        }
        #navbar{
            background-color: aquamarine;
            margin-bottom: 30px;
            margin-top: 20px;
            text-align: center;
        }
        p{
            text-shadow: lightslategray;
        }
    </style>
</head>
<body class="bg-purple-100"> 
    <div id="navbar">
      <h4>Relatório <span>FACEFACS</span> :Análise da Turma</h4>
    </div>
    <p>Ferramenta FACEFACS</p>
    <p>Data da Aula :<%= inforTurma.get("data") %></p>
    <p>Turma : <%= inforTurma.get("turma") %></p> 

    <div >           
        <h3 >Análise Geral</h3>
        
        <table>
            <thead>
                <tr>
                    <th>Indiferença</th>                                  
                    <th>Dúvida: Frustração e Confusão</th>                    
                    <th>conclusão/entendeu</th>
                                         
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= emotions.get("neutral")%>%</td>                              
                    <td><%= emotions.get("duvida")%>%</td>                    
                    <td><%= emotions.get("surprised")%>%</td> 
                                    
                    
                </tr>        
                        
            </tbody>
            <tfoot>
                
            </tfoot>
        </table>
        <h3 >Análise  individual</h3>
        
        <table>
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Indiferença</th>                                  
                    <th>Dúvida: Frustração e Confusão</th>                    
                    <th>conclusão/entendeu</th>
                                         
                </tr>
            </thead>
            <tbody>
                <%for(var i=0;i< arrayMediaInd.length;i++){ %> 
                <tr>                     
                    <td><%= arrayMediaInd[i].matricula %></td>  
                    <td><%= arrayMediaInd[i].neutral %>%</td>                              
                    <td><%= arrayMediaInd[i].duvida %>%</td>                    
                    <td><%= arrayMediaInd[i].surprised %>%</td>
             
                </tr>  
                <%}%>      
                        
            </tbody>
            <tfoot>
                
            </tfoot>
        </table>

        <h3>Emoções sem atribuições de significado</h3>
        <table>
            <thead>
                <tr>                                      
                    <th>Feliz</th> 
                    <th>Medo</th>  
                    <th>Nojo</th>        
                  
                </tr>
            </thead>
            <tbody>
                <tr>                    
                    <td><%= emotions.get("happy")%>%</td> 
                    <td><%= emotions.get("fearful")%>%</td>  
                    <td><%= emotions.get("disgusted")%>%</td>                  
                    
                </tr>        
                        
            </tbody>

            <tfoot>
                
            </tfoot>
        </table>        
       
    </div>
</body>
</html>